<% include partials/header %>
<div class="container">
    <h1>Create A New Campground</h1>

    <% campgrounds.forEach(function(campground){ %>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h3><%= campground.name %></h3>
                <img src="<%= campground.image %>">
            </div> 
        </div>
    <% }); %>
</div>

<% include partials/footer %>