<% include ./partials/header %>

<div class="ui container">
    <h1>Sign UP</h1>
    <form class="ui large form" action="/register" method="POST">
        <div class="field">
            <label>Username:</label>
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="field">
            <label>Password:</label>
            <input type="password" name="password" placeholder="password">
        </div>
        <button class="ui inverted blue button" type="submit">Sign Up</button>
    </form>
</div>

<% include ./partials/footer %>