<% include ../partials/header %>

<div class="ui container">
    <h1>Edit <%= campground.name %></h1>
    <form class="ui large form" action="/campgrounds" method="POST">
        <div class="field">
            <label>Campground Name:</label>
            <input type="text" name="campground[name]" value="<%= campground.name %>">
        </div>
        <div class="field">
            <label>Campground Image:</label>
            <input type="text" name="campground[image]" value="<%= campground.image %>">
        </div>
        <div class="field">
            <label>Campground Description:</label>
            <textarea name="campground[description]" value="<%= campground.description %>" rows="3"></textarea>
        </div>
        <button class="ui inverted teal button" type="submit">Edit</button>
    </form>
</div>

<% include ../partials/footer %>