body {
    background-color: #f9f9f9;
}

#content {
    padding: 0;
}

#content .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

#alert {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}